body > .grid {
  height: 100%;
}
.givenames {
  height: 100%;
}

.givenames .column{
  max-width: 400px;
}
div#content{
  height:100%;
}


.main.container{
      margin-top:1em;
  }


.topMenu{
  background-color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.topselect{
  display: inline-block;
  
}
.headroom--unpinned {
position: fixed;
transform: translateY(-200%);
}

@media (max-width: 600px) {
  .main.container{
      margin-top:3em;
  }

  .topMenu{
      text-align: center;
  }
.topselect {
  display: block;
  
}
}
.headroom{
  transition: box-shadow 500ms ease-in-out;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.headroom--unfixed {
box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.logoscript{
  font-family: 'Satisfy', cursive;
}


.touchevents span.topselect .dropdown{
  font-size: 1.4em;
  margin-bottom: 15px;
} 

.reroll{
  position: fixed;
  bottom: 2pc;
  width: 25pc;
  left: 0;
  right: 0;
  margin-left: auto !important;
  margin-right: auto !important;
}

.logoHeader{
  padding: 1em;
}

.settingsIcon {
  position: absolute;
  top: 16px;
  left: 16px;
  cursor: pointer;

}